.tutorial {
    border: solid 1px black;
}

#tutorial1 {
    background-color: grey;
}

img[src="https://via.placeholder.com/150"] {
    border: solid 3px blue;
}

h1,
h2 {
    color: green;
}

.tutorial>p {
    font-size: 10em;
}


h1 {
    display: inline-block;
    width: 1000px;
    border: solid 1px yellow;
}
